html, body, .mainSlogan {
	height: 100%;
}

h1, h3 {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-size: 5rem;
	color: white;
}

h4, p, {
	font-family: 'Raleway', sans-serif;
}

body.landingPage {
	background-image: url("img/landingPage.jpeg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
	background-color: #fba03e;
}

h4.navbarBrand {
	text-align: right;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

h4.navbarBrand a:hover {
	text-decoration: none;
  	color: #fff;
}

.sidebar-nav li a {
  	font-family: 'Josefin Sans', sans-serif;
  	display: block;
  	text-decoration: none;
  	color: #fff;

}

.sidebar-nav li a:hover {
  	text-decoration: none;
  	color: #fff;
  	background: rgba(255, 255, 255, 0.2);
  	font-family: 'Josefin Sans', sans-serif;
}

.mainSlogan, .subSlogan, .bookNow {
	vertical-align: middle;
	justify-content: center;
}

.mainSlogan {
	height: 30%;
	margin: 7rem auto 2rem;
}

.subSlogan {
	height: 20%;
	width: 50%;
	margin: 2rem auto; 
}

.bookNow {
	height: 10%;
	margin: 10rem auto 2rem;
}

.mainSlogan h1 {
	text-align: center;
	letter-spacing: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.subSlogan h4 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
}

.bookNow h3 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.houseJumbotron {
	background: url(img/housejumbotron.jpg);
}

.islandJumbotron {
	background: url(img/islandjumbotron.jpg);
}

.houseJumbotron, .islandJumbotron {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40%;
	margin: 5rem auto 2rem;
	align-items: center;
}

div.houseDescription {
	margin: 2rem auto;
}

form.bookForm {
	font-family: 'Raleway', sans-serif;
}

button.bookButton {
	margin: 2rem auto;
	background-color: #fba03e;
	font-weight: bold
}