.mainSlogan {
	height: 100%
}

h1, h3, h2 {
	font-family: 'Josefin Sans', sans-serif;
}

h3 {
	color: #fff;
}

h3.card-title {
	color: #000;
}	

h1 {
	font-size: 5rem;
	color: white;
}

h4, p, {
	font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #c5cae9;
}

section.landingPage {
	background-image: url("img/landingpage.jpeg");
}

section.contactPage {
	background-image: url("img/contactpage.jpg");
}

section.landingPage, .contactPage {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	background-color: #fba03e;
}

h4.navbarBrand {
	text-align: right;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

h4.navbarBrand a:hover {
	text-decoration: none;
  	color: #fff;
}

.sidebar-nav li a {
  	font-family: 'Josefin Sans', sans-serif;
  	display: block;
  	text-decoration: none;
  	color: #fff;

}

.sidebar-nav li a:hover {
  	text-decoration: none;
  	color: #fff;
  	background: rgba(255, 255, 255, 0.2);
  	font-family: 'Josefin Sans', sans-serif;
}

.mainSlogan, .mainContact, .subSlogan, .subContact .bookNow, {
	vertical-align: middle;
	justify-content: center;
}

.mainSlogan {
	height: 30%;
	margin: 7rem auto 2rem;
}

.mainContact {
	height: 50%;
	margin: 7rem auto 2rem;
}

.subSlogan {
	height: 20%;
	width: 50%;
	margin: 2rem auto; 
}

.subContact {
	height: 50%;
	margin: 2rem auto auto;
}

.bookNow {
	height: 10%;
	margin: 5rem auto 2rem;
}

.mainSlogan h1 {
	text-align: center;
	letter-spacing: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.mainContact h1 {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.mainContact h4 {
	text-align: center;
}

.subSlogan h4 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
}

.bookNow h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.bookNow h3:hover {
	text-decoration: none;
  	color: #c5cae9;
}

.houseJumbotron {
	background: url(img/jumbotron/sunset.jpg);
}

.islandJumbotron {
	background: url(img/jumbotron/pulau.jpg);
}

.activitiesJumbotron {
	background: url(img/jumbotron/activitiesjumbotron.jpg);
}

.galleryJumbotron {
	background: url(img/jumbotron/galleryjumbotron.jpg);
}

.houseJumbotron, .islandJumbotron, .activitiesJumbotron, .galleryJumbotron {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40%;
	align-items: center;
}

div.mainDescription {
	margin: 2rem auto;
}

.mobileBook {
	display: none;
}

h3.bookPrice {
	color: #000;
}

div.ftb_mobile {
	width: auto;
}

form.bookForm {
	font-family: 'Raleway', sans-serif;
}

a.bookButton {
	margin: 2rem auto;
	background-color: #fba03e;
	font-weight: bold;
}

div.topContentMobile {
	display: none;
}

div.contentRow {
}

div.contentColHistory {
	background-image: url('img/contents/history.jpg');
}

div.contentColCulture {
	background-image: url('img/contents/culture.jpg');
}

div.contentCol {
	height: 300px;
	background-size: cover;
	background-position: center;
	align-items: center;
}

h2.contentColText {
	color: white;
}

div.formContainer {
	margin: 6rem auto 2rem;
}

h1.loginText {
	color: black;
}

div.contactText {
	color: #fff;
}

div.contactText h4 {
	font-size: 2rem;
}

footer {
	background-color: #cc6d13;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 4rem;
	}

	.mainSlogan h1 {
		text-align: center;
		letter-spacing: 0.1rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.mainContact h1 {
		font-size: 3rem;
	}

	.sideBook {
		display: none;
	}

	.mobileBook {
		display: flex;
	}

	div.topContent {
		display: none;
	}

	div.topContentMobile {
		display: block;
	}
}	